

.CardRow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.Card {
    padding-top: 166.8%;
    margin: 10px;
    background-image: url(images/back-cover.jpg);
    background-size: 100% 100%;
}

.Card:hover, 
.Card:focus {
    box-shadow: 0 0 10px 4px #B68647;
}

.ButtonContainer {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

Button {
    font: 16px "open-sans", sans-serif;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    padding-top: 50px;
}

#CardOverlay {
    display: grid;
    grid-template-columns: auto;
    width: 225px;
    margin: 0 auto;
}

#CardFront {
    padding-top: 166.8%;
    background-size: 100% 100%;
}

#TextOverlay {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

#CardTitle {
    display: table;
    margin: 0 auto;
    margin-bottom: 30px;
    font: 30px "open-sans", sans-serif;
}

#CardDescription {
    display: table;
    margin: 0 auto;
    font: 20px "open-sans", sans-serif;
    width: 70%;
    text-align: center;
}

@media(max-width: 600px) {
    .CardRow {
        grid-template-columns: repeat(4, 1fr);
        width: 100%
    }
    
    #CardTitle {
        font-size: 36px;
    }
    
    #CardDescription {
        font-size: 18px;
        width: 85%;
    }
    
    #overlay {
        padding-top: 30px;
    }
    
    #CardOverlay {
        width: 200px;
    }
}

@media(min-width: 1200px) {
    .CardRow {
        width: 80%;
        grid-template-columns: repeat(8, 1fr);
    }
    
    #CardDescription {
        width: 50%;
    }
}
